<div flex layout="row">
    <div flex></div>
    <div layout="column" flex-gt-xs="80" flex-xs="100">
        <div layout ng-cloak>
            <div flex="80">
                <h1>{{ ::vm.requestingorganization }}</h1>
                <p>Requests authorization to see some of your information</p>
            </div>
        </div>
        <form ng-cloak method="post" layout="column" name="authorizeform" ng-submit="save()">
            <div layout="row">
                <md-list flex="100" flex-gt-sm="80" flex-gt-md="60">
                    <authorization-details></authorization-details>
                </md-list>
            </div>
            <div style="margin-top: 10px;">
                <md-button type="submit" class="md-raised md-primary">Authorize</md-button>
                <span flex></span>
            </div>
        </form>
    </div>
    <div flex></div>
</div>