<md-dialog>
    <form name="dataform">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span ng-if="::!originalLabel">Register e</span><span ng-if="::originalLabel">E</span>mail address</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Label</label>
                    <input ng-model="data.label" minlength="2" required type="text" md-autofocus="true"
                           name="labelinput" md-maxlength="50">
                    <div ng-messages="dataform.labelinput.$error">
                        <div ng-message="minlength">At least 2 characters required</div>
                        <div ng-message="md-maxlength">The label cannot be longer than 50 characters</div>
                    </div>
                    <div ng-messages="validationerrors" md-auto-hide="false">
                        <div ng-message="duplicate, duplicate_label">This label is already used</div>
                    </div>
                </md-input-container>
                <span flex="5"></span>
                <md-input-container flex="80">
                    <label>Email address</label>
                    <input ng-model="data.emailaddress" required type="email" name="emailaddress"
                           ng-pattern="/^([a-zA-Z0-9_\-\.\+]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/i">
                    <div ng-messages="dataform.emailaddress.$error">
                        <div ng-message="pattern">Invalid email address</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button class="md-warn" ng-click="remove(originalLabel)"
                       ng-if="originalLabel && user.emailaddresses.length > 1">
                Delete
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary" type="submit" ng-click="create(data)" ng-disabled="!dataform.$valid"
                       ng-if="::!originalLabel">
                Register
            </md-button>
            <md-button class="md-primary" type="submit" ng-click="update(originalLabel, data)"
                       ng-disabled="!dataform.$valid" ng-if="::originalLabel">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
