<md-dialog ng-cloak>
  <form name="dataform">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><span ng-if="!originalLabel">Register a p</span><span ng-if="originalLabel">P</span>hone number</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div layout>
            <md-input-container>
                <label>Label</label>
                <input ng-model="label" minlength="2" required type="text" md-autofocus="true" name="labelinput">
                <div ng-messages="dataform.labelinput.$error">
                    <div ng-message="minlength">At least 2 characters required</div>
                </div>
                <div ng-messages="validationerrors" md-auto-hide="false">
                    <div ng-message="duplicate">This label is already used</div>
                </div>
            </md-input-container>
            <span flex="5"></span>
            <md-input-container flex="80">
                <label>Phone number</label>
                <input ng-model="data" pattern="\+?[0-9 ]+" required minlength="4" type="text" name="phonenumberinput">
                <div ng-messages="dataform.phonenumberinput.$error">
                    <div ng-message="minlength">Not enough digits</div>
                    <div ng-message="pattern">Invalid phonenumber</div>
                </div>
            </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="remove(originalLabel)" ng-if="originalLabel">
        Delete
        </md-button>
        <span flex></span>
        <md-button ng-click="cancel()">
        Cancel
        </md-button>
        <md-button class="md-primary" type="submit" ng-click="create(label, data)" style="margin-right:20px;" ng-if="!originalLabel">
        Register
        </md-button>
        <md-button class="md-primary" type="submit" ng-click="update(originalLabel, label, data)" style="margin-right:20px;" ng-if="originalLabel">
        Save
        </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
