<md-dialog>
    <form name="changepasswordform" ng-submit="ctrl.updatePassword()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding style="min-width: 400px;">
            <md-content class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Current password</label>
                    <input ng-model="ctrl.currentPassword" required name="currentPassword" type="password"
                           ng-change="ctrl.resetValidation()">
                    <div ng-messages="changepasswordform.currentPassword.$error">
                        <div ng-message="incorrect_password">Incorrect password</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>New password</label>
                    <input ng-model="ctrl.newPassword" required name="newPassword" type="password" ng-minlength="6">
                    <div ng-messages="changepasswordform.newPassword.$error">
                        <div ng-message="minlength">Password should contain at least 6 characters</div>
                        <div ng-message="invalid_password">Password should contain at least 6 characters.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Confirm new password</label>
                    <input ng-model="ctrl.passwordValidation" required name="passwordValidation"
                           password-validation="ctrl.newPassword" type="password">
                    <div ng-messages="changepasswordform.passwordValidation.$error">
                        <div ng-message="passwordIdentical">The passwords do not match</div>
                    </div>
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="ctrl.cancel()">Cancel</md-button>
            <span flex></span>
            <md-button class="md-primary" type="submit" ng-disabled="!changepasswordform.$valid"
                       style="margin-right:20px;">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
