<!DOCTYPE html>
<html lang="en">
  <head>
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <title>It's You Online</title>

       <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css'>
       <link rel="stylesheet" href="assets/css/style.css"/>
       <link rel="stylesheet" href="assets/css/font-awesome.min.css"/>
       <link href='https://fonts.googleapis.com/css?family=Wellfleet|Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <style>

            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none;
            }
        </style>
 </head>

<body ng-app="itsyouonlineApp">

<header id="header">

  <div class="content">
    <div id="logo"><a href="#"> ItsYou.Online </a></div>

    <div class="sign-wrap">
        <a href="#notifications"><i class="fa fa-bell"></i>
            <md-tooltip ng-cloak>
            You have no open requests
            </md-tooltip>
        </a>
        <md-menu md-offset="-5 30">
            <a href="" ng-click="$mdOpenMenu($event)"><i class="fa fa-plus"></i><i class="fa fa-caret-down"></i>
              <md-tooltip ng-cloak>
                Create new...
              </md-tooltip>
            </a>
            <md-menu-content ng-cloak>
               <md-menu-item><md-button href="#neworganization">New organization</md-button></md-menu-item>
               <md-menu-item><md-button href="#newcompany">New company</md-button></md-menu-item>
             </md-menu-content>
        </md-menu>

        <md-menu md-offset="-5 30" ng-cloak>
            <a href="" ng-click="$mdOpenMenu($event)"><i class="fa fa-user"> {{ user }}</i>
              <md-tooltip ng-cloak>
                Your profile
              </md-tooltip>
            </a>
            <md-menu-content ng-cloak>
               <md-menu-item><md-button href="#profile">Profile</md-button></md-menu-item>
               <md-menu-item><md-button href="logout">Signout</md-button></md-menu-item>
             </md-menu-content>
        </md-menu>
    </div>
  </div>

</header>


<div class="fullscreenform">
    <div flex layout="row">
        <div flex></div>
        <div layout="column" flex-gt-xs="80" flex-xs="100">
            <div ng-view></div>
        </div>
        <div flex></div>
    </div>
</div>


</div>

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js'></script>
<script>
    angular
        .module('itsyouonlineApp', ['ngCookies', 'ngMaterial','ngRoute', 'ngMessages'])
        .config(function($mdThemingProvider) {
            $mdThemingProvider.definePalette('blueish', {
                '50': '#f7fbfd',
                '100': '#badeed',
                '200': '#8ec8e2',
                '300': '#55add3',
                '400': '#3ca1cd',
                '500': '#3091bb',
                '600': '#2a7ea3',
                '700': '#236b8a',
                '800': '#1d5872',
                '900': '#17455a',
                'A100': '#f7fbfd',
                'A200': '#badeed',
                'A400': '#3ca1cd',
                'A700': '#236b8a',
                'contrastDefaultColor': 'light',
                'contrastDarkColors': '50 100 200 300 400 A100 A200 A400'
            });
            $mdThemingProvider.theme('default')
                .primaryPalette('blueish')
        })
        .config(function($routeProvider) {
            $routeProvider
                .when('/', {
                    templateUrl: 'components/notifications/views/notifications.html',
                    controller: 'NotificationsController',
                    controllerAs: 'vm'
                })
                .when('/profile', {
                    templateUrl: 'components/profile/views/profile.html',
                    controller: 'ProfileController',
                    controllerAs: 'vm'
                })
                .when('/profile/edit', {
                    templateUrl: 'components/profile/views/edit.html',
                    controller: 'ProfileEditController',
                    controllerAs: 'vm'
                })
                .when('/neworganization', {
                    templateUrl: 'components/organization/views/new.html',
                    controller: 'OrganizationController',
                    controllerAs: 'vm'
                })
                .when('/organizations/:globalid', {
                    templateUrl: 'components/organization/views/detail.html',
                    controller: 'OrganizationDetailController',
                    controllerAs: 'vm'
                })
                .when('/newcompany', {
                    templateUrl: 'components/company/views/new.html',
                    controller: 'CompanyController',
                    controllerAs: 'vm'
                })
                .when('/companies/:globalid', {
                    templateUrl: 'components/company/views/detail.html',
                    controller: 'CompanyController',
                    controllerAs: 'vm'
                })
                .otherwise('/')
            ;
        })
        .run(function($cookies, $rootScope) {
            $rootScope.user = $cookies.get('itsyou.online.user');
        });
</script>
<script src='components/profile/controller.js'></script>
<script src='components/profile/service.js'></script>
<script src='components/notifications/controller.js'></script>
<script src='components/notifications/service.js'></script>
<script src='components/organization/controller.js'></script>
<script src='components/organization/service.js'></script>
<script src='components/company/controller.js'></script>
<script src='components/company/service.js'></script>
</body>
</html>
