<div id="slide7" class="footer">
    <div class="content">
        <div class="button-center text-center">
            <div class="doc">
                <a target="_blank" href="https://gig.gitbooks.io/itsyouonline/content/" translate='shared.directives.footer.documentation'>Documentation</a>
            </div>
            <div class="doc doc2">
                <a target="_blank" href="/apidocumentation" translate='shared.directives.footer.apidocumentation'>API Documentation</a>
            </div>
            <div class="doc doc3">
                <a target="_blank" href="https://github.com/itsyouonline">
                    <span class="github-link" translate='shared.directives.footer.source'>Source code on Github</span>
                </a>
            </div>
        </div>
    </div>
</div>
