<div id="slide7" class="footer">
    <div class="content">
        <div class="button-center text-center">
            <div class="doc">
                <a target="_blank" href="https://gig.gitbooks.io/itsyouonline/content/">
                    Documentation
                </a>
            </div>
            <div class="doc doc2">
                <a target="_blank" href="/apidocumentation">
                    API Documentation
                </a>
            </div>
            <div class="doc doc3">
                <a target="_blank" href="https://github.com/itsyouonline">
              <span class="github-link">
                Source code on Github
              </span>
                </a>
            </div>
        </div>
    </div>
</div>
