<header id="header" ng-class="{'cookie-warning': showCookieWarning}">
    <div ng-cloak class="cookie-warning-container" ng-show="showCookieWarning">
        <div class="content">
            <span>This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies.</span>
            <md-button class="md-raised" ng-click="hideCookieWarning()">
                <i class="fa fa-times"></i> Dismiss
            </md-button>
        </div>
    </div>
    <div class="content">
        <div id="logo"><a href="#/"> ItsYou.Online </a></div>
        <div class="sign-wrap" ng-show="$root.user">
            <a href="#/home/notifications" ng-show="$root.openRequests !== undefined">
                <div class="notification-bell">
                    <i class="fa fa-bell"></i>
                    <span class="notification-bell-unread" ng-show="$root.openRequests > 0"></span>
                </div>
                <md-tooltip ng-cloak> You have {{ $root.openRequests? $root.openRequests : 'no'}} open
                    <ng-pluralize count="$root.openRequests"
                                  when="{'1': 'request', 'other': 'requests'}"></ng-pluralize>
                </md-tooltip>
            </a>
            <md-menu md-offset="-5 30" ng-cloak>
                <a ng-click="$mdOpenMenu($event)"><i class="fa fa-user"></i><span ng-bind="$root.user"></span><i
                        class="fa fa-caret-down"></i></a>
                <md-menu-content ng-cloak>
                    <md-menu-item>
                        <md-button href="#/">Home</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button href="logout">Signout</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <div class="sign-wrap" ng-show="!$root.user && ! header_login">
            <a href="register"><i class="fa fa-user-plus"></i>Register</a>
        </div>
        <div class="sign-wrap" ng-show="!$root.user && header_login">
            <a href="login"><i class="fa fa-sign-in"></i>Sign in</a>
        </div>
    </div>
</header>
