<md-dialog ng-cloak>
  <form name="apikeyform">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><span ng-if="!apikey.secret">New </span>API Key</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="assets/img/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" layout="column">
            <div layout>
                <md-input-container>
                    <label>Label</label>
                    <input ng-model="label" minlength="2" required type="text" md-autofocus="true" name="labelinput">
                    <div ng-messages="apikeyform.labelinput.$error">
                        <div ng-message="minlength">At least 2 characters required</div>
                    </div>
                    <div ng-messages="validationerrors" md-auto-hide="false">
                        <div ng-message="duplicate">This label is already used</div>
                    </div>
                </md-input-container>

                <span flex="5"></span>
                <div flex layout="column">
                    <md-input-container flex>
                        <label>Callback URL</label>
                        <input ng-model="apikey.callbackURL" type="text" maxlength="250" name="callbackurl"/>
                    </md-input-container>
                    <md-input-container>
                        <md-switch ng-model="apikey.clientCredentialsGrantType">May be used in client credentials grant types</md-switch>
                        <md-tooltip>
                            An application without a UI can use this key to access the information of this organization without a user granting access
                        </md-tooltip>
                    </md-input-container>
                </div>
            </div>
            <md-input-container flex>
                <label>Secret</label>
                <input ng-model="apikey.secret" minlength="2" required type="text" disabled="true" placeholder="- generated when saved -"/>
            </md-input-container>
            <div style="margin-right:20px;margin-left:20px;">
                <h3>In OAuth2 terminology there are clientid's and client secrets.</h3><h3>To use this API secret, use '{{organization}}' as clientid and this API secret as client secret.</h3>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-warn" ng-click="deleteAPIKey(savedLabel)" ng-if="apikey.secret">
        Delete
        </md-button>
        <span flex></span>
        <md-button ng-click="cancel()" ng-if="!apikey.secret || originalLabel">
        Cancel
        </md-button>
        <md-button class="md-primary" type="submit" ng-click="create(label, apikey)" style="margin-right:20px;" ng-if="!apikey.secret">
        Create
        </md-button>
        <md-button class="md-primary" type="submit" ng-click="update(savedLabel, label)" style="margin-right:20px;" ng-if="apikey.secret && originalLabel">
        Save
        </md-button>
        <md-button class="md-primary" type="submit" ng-click="cancel()" style="margin-right:20px;" ng-if="apikey.secret && (!originalLabel)">
        OK
        </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
