<br />
<div>
    <p ng-show="vm.seeObjects.length == 0" translate='no_see_documents'>You don't have any see documents for this organization</p>
    <md-list>
        <div ng-repeat="seeObject in vm.seeObjects">
            <div flex="100">
                <div layout="row" layout-align="space-between none" class="border-top-light">
                    <div>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <span>{{seeObject.uniqueid }} - {{seeObject.category }}
                                    <span ng-if="::seeObject.signature" class="md-body-1 "><i class="fa fa-check green"></i></span>
                                </span>
                                <p><span ng-bind="::seeObject.creation_date | date: 'd MMM y H:mm:ss'"></span></p>
                                <p><span translate='version'>Version</span>: {{seeObject.version}}</p>
                            </div>
                        </md-list-item>
                    </div>
                    <div>
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text">
                                <p ng-if="::seeObject.start_date"><span translate='start'>Start</span>: <span ng-bind="::seeObject.start_date | date: 'd MMM y H:mm:ss'"></span></p>
                                <p ng-if="::seeObject.end_date"><span translate='end'>End</span>: <span ng-bind="::seeObject.end_date | date: 'd MMM y H:mm:ss'"></span></p>
                                <md-button class="md-primary md-secondary" ng-click="vm.showSeeObject($event, seeObject)">
                                    <span aria-label="Details" translate-attr="{ 'aria-label': 'details' }" translate='details'>Details</span>
                                </md-button>
                            </div>
                        </md-list-item>
                    </div>
                </div>
                <div ng-if="!seeObject.isShowingFulldescription" btf-markdown="seeObject.markdown_short_description" style="padding: 0 16px;"></div>
                <div ng-if="seeObject.isShowingFulldescription" btf-markdown="seeObject.markdown_full_description" style="padding: 0 16px;"></div>
                <md-button class="md-primary md-secondary" aria-label="Toogle full description" translate-attr="{ 'aria-label': 'toggle_full_description' }" ng-click="seeObject.isShowingFulldescription = !seeObject.isShowingFulldescription">
                    <span ng-if="!seeObject.isShowingFulldescription" translate='show_full_description'>Show full description</span>
                    <span ng-if="seeObject.isShowingFulldescription" translate='hide_full_description'>Hide full description</span>
                </md-button>
            </div>
        </div>
    </md-list>
</div>
