<div>
    <form layout="column" ng-submit="vm.create()">
        <h1>Create a new organization</h1>
        <br/>
        <md-input-container>
            <label>Organization name</label>
            <input ng-model="vm.name" minlength="3" required type="text" autofocus></input>
            <div ng-messages="vm.validationerrors" md-auto-hide="false">
                <div ng-message="duplicate">This name is already taken</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Primary DNS</label>
            <input ng-model="vm.dns" type="text"></input>
        </md-input-container>
        <div layout="row">
            <md-button type="submit" class="md-raised md-primary">Create</md-button>
            <span flex></span>
        </div>
    </form>
</div>
