<div>
    <form layout="column">
        <h1>Create a new company</h1>
        <br/>
        <md-input-container>
            <label>Company name</label>
            <input ng-model="vm.name" minlength="2" required type="text" autofocus></input>
        </md-input-container>
        <md-input-container>
            <label>Tax number</label>
            <input ng-model="vm.taxnr" type="text"></input>
        </md-input-container>
        <div layout="row">
            <md-button type="submit" class="md-raised md-primary">Create</md-button>
            <span flex></span>
        </div>
    </form>
</div>
