body { margin: 0; padding: 0; width: 100%;font-family: arial }
h2 { font-weight: normal; font-size: 40px; text-align: center; margin: 0; padding: 0;color: #FFFFFF;}
h3 { font-weight: normal; font-size: 16px; text-align: center; margin: 5px 0; padding: 0; z-index: 1; position: relative; }

h4 {
    font-weight: normal;
    margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}
.center { margin: 0 auto; }
.content { margin: 0 auto; width: 960px; }
.clear { clear: both; }

@media screen and (max-width: 400px) {

    h2 {
        font-size: 2em;
    }

    h3.quotes {
        font-size: 1.5em;
    }

}

md-dialog > md-dialog-content > h2 {
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
}

/*= HEADER & NAVIGATION
--------------------------------------------------------*/
#header {
    width: 100%;
    background: rgba(48, 145, 187, 0.92);
    height: 80px;
    position: fixed;
    z-index: 2;
}
#nav { width: 473px; float: right; margin-top: 30px; }
#logo a { text-decoration: none; float: left; font-size: 30px; margin-top: 20px; color: #FFF; font-family: Wellfleet; font-weight: bold; }
#nav ul { list-style: none; display: block; margin: 0 auto; list-style: none; padding: 0; }
#nav li { margin-top: 9px; display: inline; padding-left: 21px; }
#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'arvo'; }
#nav li a.active { color: #FFF; opacity:1; }
#nav li a:hover { color: #fff; opacity:1; }
/*= QUOTES AND SOME ELEMENTS
--------------------------------------------------------*/
.quotes { font-family: 'arial', serif; font-weight: normal; font-size: 29px; text-align: left; margin: 50px auto; line-height: 39px; }
.author_name_white { font-family:arial; margin: 70px 0 0 75px; color: #fff; font-size: 20px; }
.author_name_gray { font-family:arial; margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }
.quotes_container { width: 800px; margin: 0 auto; }
/*= BUTTONS
--------------------------------------------------------*/

button.btn-know { padding: 15px 47px; margin: 40px 38.8%; text-align: center; border: 4px solid #fff; color: #fff; background: transparent; font-size: 19px; cursor: pointer; text-shadow: -1px 2px 0px rgba(90, 90, 90, 0.56); -webkit-border-radius: 4px; border-radius: 4px; }
.btn-know:hover { background: #fff; color: transparent; }
ul.built { list-style: none; margin: 0 auto; width: 730px; }
.built li img { float: left; padding-right: 34px; }
/*= SLIDES STYLING
--------------------------------------------------------*/

#slide1, #slide2 { width: 100%; }
#slide1 { background:url('../img/masks.jpg') 50% 0 no-repeat fixed; color: #fff; height: 495px; margin: 0; padding: 200px 0 260px 0; background-size: cover; }
#slide2 { background-color: #ededed; color: #333333; height: 300px; margin: 0 auto; overflow: hidden; padding: 200px 0; }
#slide3 { background: url(../img/girlbehindmask.jpg) 50% 0 no-repeat fixed; color: #fff; height: 400px; padding: 270px 0 0 0; background-size: cover; }
#slide4 { background-color: #ededed; color: #333333; height: 300px; padding: 200px 0; }
#slide5 { background: url(../img/connectionsonfingers.jpg) 50% 0 no-repeat fixed; height: 200px; margin: 0 auto; padding: 250px 0; color: #fff; background-size: cover; }
#slide6 { background-color: #ededed; color: #333333; height: 300px; padding: 50px 0 270px 0; }
/*= FOOTER
--------------------------------------------------------*/

#slide1 .content { margin-top: 220px; background: rgba(72, 72, 72, 0.2); }

.error {
    color: rgb(221,44,0);
}

.fullscreenform:before, .background-image:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -999;
  display: block;
  background-image: url('../img/masks.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: opacity(0.2) contrast(0.2);
  -moz-filter: opacity(0.2) contrast(0.2);
  -o-filter: opacity(0.2) contrast(0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: opacity(0.2) contrast(0.2);
}

.background-image:before {
    z-index: 0;
}

.fullscreenform {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
}

.fullscreenform form {
    margin: 130px 50px 0 50px;
}

.md-subheader{
    background-color: transparent !important;
}

@media (max-width: 1200px) {
.content { width: 960px; }
.quotes_container { width: 800px; }
}
@media (max-width: 1024px) {
.content { width: 900px; }
.quotes_container { width: 800px; }

    #slide7 {
        padding: 49px 0 120px 0 !important;
    }

    #slide7 .text-center {
        width: 320px;
    }

    .signupbtn {
        margin: 15px;
    }

}
@media (max-width: 900px) {
.content { width: 100%; }
.quotes_container { width: 100%; }
.quotes { padding-right: 30px; padding-left: 30px; }

    .doc a {
        display: inline-block;
        float: none !important;
    }
.sign-wrap {float: none !important;text-align: center;}
.sign-wrap a { color: #FFF; text-decoration: none;margin: 20px 20px 0 0 !important;display: inline-block;}
}
@media (max-width: 768px) {
.content { width: 100%; }
.quotes_container { width: 100%; }
.quotes { padding-right: 30px; padding-left: 30px; }
#slide6 { padding-bottom: 450px; }
#logo { display: block; padding: 0 30px; text-align: center; }
#logo a { float: none; }
#nav { display: block; padding: 0 0px; text-align: center; float: none; width: 100%; }
#header { padding: 10px 0; }
}
#slide3 .content { background: rgba(72, 72, 72, 0.2); }
#slide5 .content { background: rgba(175, 175, 175, 0.2); }
footer { background: #3091BB; color: #FFF; padding: 20px 0; text-align: center; font-family: 'arvo'; font-size: 16px; }
#slide7 {background: url(../img/bg.png) repeat;height: 120px;padding: 49px 0 0 0;}
.doc a {background: url(../img/button1.png) no-repeat center center;width: 315px;float: left;margin: 0 0px;color: #FFF;text-decoration: none;font-family: arial;padding: 24px 0 24px 0px;text-align: center;}

.text-center {
    text-align: center;
    margin: 0 auto;
}
.doc2 a {background-image: url(../img/button2.png);padding: 24px 0 24px 5px;}
.doc3 a {background-image: url(../img/button3.png);padding: 24px 0 24px 5px;}
.doc a:hover { opacity: 0.9;}
.github-link {padding-left: 35px;}
.sign-wrap { float: right;}
.sign-wrap a { color: #FFF; text-decoration: none;margin: 31px 20px 0 0;display: inline-block;}
.sign-wrap a:hover { opacity: 0.9}
.sign-wrap a i {margin: 0 6px 0 0;font-size: 15px;}

/*= PUBLIC KEYS
--------------------------------------------------------*/
.public-key {
  word-break: break-all;
}

.tree ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/* add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 7px 10px;
    text-decoration: none;
    color: #666;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/* Apply the hover effect on the lineage of the element also*/
.tree li a:hover, .tree li a:hover + ng-include ul li a {
    background: #c8e4f8 !important;
    color: #000;
    border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li a:hover + ng-include ul li::after,
.tree li a:hover + ng-include ul li::before,
.tree li a:hover + ng-include ul::before,
.tree li a:hover + ng-include ul ul::before {
    border-color: #94a0b4;
    border-width: 2px;
}

.tree .active-organization > a {
    background: rgba(48, 145, 187, 0.92);
    color: #ffffff;
    border: 1px solid #94a0b4;
    font-weight: bold;
}

.tree li.creating a {
    background: rgba(255, 165, 0, 0.3);
    color: #000000;
}

.breadcrumb-link {
    color: #000000;
    text-decoration: none;
}

.breadcrumb-link:hover, .breadcrumb-link:active {
    text-decoration: underline;
}
