<form layout="row" name="signupform" ng-submit="vm.register()" novalidate>
    <div flex></div>
    <md-card class="form-card" id="form-area" flex="100" flex-gt-xs="80" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="30">
        <md-card-avatar ng-if="vm.externalSite" layout="row" layout-align="center center">
            <div ng-show="vm.logo" class="organization-logo-container" layout="row" layout-align="center center">
                <img ng-src="{{ ::vm.logo }}"/>
            </div>
        </md-card-avatar>
        <md-card-title>
            <md-card-title-text ng-if="!vm.externalSite">
                <span class="md-headline" translate='registration.views.registrationform.register'>Register</span>
            </md-card-title-text>
            <md-card-title-text ng-if="vm.externalSite">
                <div layout="column">
                    <p class="loginprompt" ng-if="!vm.description" translate='oauth_default_description'
                       translate-values="{externalsite: vm.externalSite}">
                       Dear {{vm.externalsite}} user, access to {{vm.externalsite}} services is managed by the ItsYou.Online identity management system. To proceed, please login or register at ItsYou.Online.
                    </p>
                    <p class="loginprompt" ng-if="vm.description" ng-bind="vm.description"></p>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-content class="register-tabs">
            <md-tabs md-align-tabs="top" md-dynamic-height md-selected="vm.selectedTab" class="registration-tabs">
                <md-tab md-on-select="vm.onTabSelected(0)">
                    <md-tab-label>
                        <h3 class="text_align_center" translate='registration.views.registrationform.baseinfo'>Basic info</h3>
                    </md-tab-label>
                    <md-tab-body>
                        <div layout="column">
                            <div layout-align="space-around center">
                                <div layout="row" layout-align="space-around center">
                                    <div flex></div>
                                    <h4 class="all-caps text-align-center" translate="step_1_of_3">Step 1 of 3</h4>
                                    <div flex></div>
                                </div>
                                <h2 class="all-caps text-align-center bold no-margin" translate="basic_info">Basic info</h2>
                            </div>
                            <div class="validation-error text-align-center" ng-if="vm.emailduplicate || vm.phoneduplicate"
                                layout="column" layout-allign="center center">
                                <span translate='account_exists_email' ng-if="vm.emailduplicate">
                                    According to our database this email address is already linked to an ItsYou.Online account.
                                </span>
                                <span translate='account_exists_phone' ng-if="vm.phoneduplicate">
                                    According to our database this phone number is already linked to an ItsYou.Online account.
                                </span>
                                <a ng-click="vm.goToLogin()" translate="go_to_login" class='pointer'>
                                    Please click here to login.
                                </a>
                                <a ng-click="vm.goToForgotPassword()" translate='go_to_forgot_password' class='pointer'>
                                    If you forgot your password please click here.
                                </a>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <md-input-container flex="45">
                                    <label for="firstname" translate='user.views.namedialog.firstname'>First name</label>
                                    <input ng-model="vm.firstname" required name="firstname" type="text"
                                        ng-maxlength="30" ng-minlength="2" ng-change="vm.resetValidation('firstname')">
                                    <div ng-messages="signupform.firstname.$error">
                                        <div ng-message="pattern,invalid_first_name" translate='invalid_first_name'>
                                            Invalid first name. Only letters, -, _, '
                                            and spaces are allowed. Names have a
                                            length of 2 to 30 characters.
                                        </div>
                                        <div ng-message="minlength" translate="name_minlength">Name must contain at least 2 characters</div>
                                        <div ng-message="maxlength" translate="name_maxlength">Name can contain at most 30 characters</div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="45">
                                    <label translate='user.views.namedialog.lastname'>Last name</label>
                                    <input ng-model="vm.lastname" required name="lastname" type="text"
                                        ng-maxlength="30" ng-minlength="2" ng-change="vm.resetValidation('lastname')">
                                    <div ng-messages="signupform.lastname.$error">
                                        <div ng-message="pattern,invalid_last_name" translate='invalid_last_name'>
                                            Invalid last name. Only letters, -, _, '
                                            and spaces are allowed. Names have a
                                            length of 2 to 30 characters.
                                        </div>
                                        <div ng-message="minlength" translate="name_minlength">Name must contain at least 2 characters</div>
                                        <div ng-message="maxlength" translate="name_maxlength">Name can contain at most 30 characters</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <telinput phonenumber="vm.sms" error="vm.phone.validationerrors"></telinput>
                            <md-input-container>
                                <label for="email" translate='registration.views.registrationform.email'>Email</label>
                                <input ng-model="vm.email" required name="email" type="email" id="email" md-maxlength="80"
                                       ng-pattern="/[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$/"
                                       ng-change="vm.resetValidation('email')">
                                <div ng-messages="signupform.email.$error" md-auto-hide="false" ng-if="signupform.email.$touched">
                                    <div ng-message="email" translate="invalid_email_address">Invalid email address</div>
                                    <div ng-message="md-maxlength" translate='emailmaxlength'>The email address cannot be longer than 80
                                        characters
                                    </div>
                                    <div ng-message="pattern" translate='invalid_email_address'>Invalid email address</div>
                                    <div ng-message='email_already_used' translate='email_already_used'>This email is already in use</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label for="password" translate='registration.views.registrationform.password'>Password</label>
                                <input ng-model="vm.password" required name="password" type="password" minlength="6"
                                       ng-minlength="6" id="password">
                                <div ng-messages="signupform.password.$error">
                                    <div ng-message="minlength" translate='registration.views.registrationform.invalidpassword'>Password should contain at least 6 characters</div>
                                    <div ng-message="invalid_password" translate='registration.views.registrationform.invalidpassword'>Password should contain at least 6 characters</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label for="passwordvalidation" translate='registration.views.registrationform.confirmpassword'>Password confirmation</label>
                                <input ng-model="vm.passwordvalidation" required name="passwordvalidation"
                                       password-validation="vm.password" id="passwordvalidation" type="password">
                                <div ng-messages="signupform.passwordvalidation.$error">
                                    <div ng-message="passwordIdentical" translate='registration.views.registrationform.passwordmatch'>The passwords do not match</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="column" layout-gt-sm="row" flex="100">
                            <div flex></div>
                            <md-button class="md-primary md-raised" ng-disabled="!vm.basicInfoValid()"
                                ng-click="vm.goToNextTabIfValid()">
                                <span translate="next">Next</span>&nbsp;<i class="fa fa-chevron-right"></i>
                            </md-button>
                        </div>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-disabled="!vm.basicInfoValid()" md-on-select="vm.onTabSelected(1)">
                    <md-tab-label>
                        <h3 translate='validation'>Validation</h3>
                    </md-tab-label>
                    <md-tab-body>
                        <div layout="column">
                            <div layout-align="space-around center">
                                <div layout="row" layout-align="space-around center">
                                    <div flex></div>
                                    <h4 class="all-caps text-align-center" translate="step_2_of_3">Step 2 of 3</h4>
                                    <div flex></div>
                                </div>
                                <h2 class="all-caps text-align-center bold no-margin" translate="phone_validation">Phone Validation</h2>
                            </div>
                            <div layout="row" class="code-input" flex>
                                <md-input-container ng-if="!vm.phoneConfirmed" flex>
                                    <label for="smscode" translate='smscode'>Please enter the code sent to you by sms</label>
                                    <input ng-model="vm.smscode" required name="smscode" ng-change="vm.codeUpdated()"
                                            id="smscode" ng-minlength="6" md-maxlength="6" type="tel" class="registration-code-input">
                                    <div ng-messages="signupform.smscode.$error">
                                        <div ng-message="minlength" translate='sms_code_length'>The code has a length of 6 characters</div>
                                        <div ng-message="md-maxlength" translate='sms_code_length'>The code has a length of 6 characters</div>
                                        <div ng-message="invalid_sms_code" translate='invalid_sms_code'>Invalid sms code</div>
                                    </div>
                                </md-input-container>
                                <div layout="column" layout-align="center center" ng-if="vm.phoneConfirmed" style="margin-bottom: 50px;"flex>
                                    <div layout="row" layout-align="center center">
                                        <div flex></div>
                                        <i class="fa fa-thumbs-o-up fa-5x"></i>
                                        <div flex></div>
                                    </div>
                                    <h2 class="text-align-center all-caps" translate="great_success">SUCCESS</h2>
                                </div>
                            </div>
                            <div layout-algin="end center" ng-if="!vm.phoneConfirmed">
                                <div flex></div>
                                <h5 class="text-align-center all-caps registration-explanation big-web-font" style="margin-bottom: 40px;"
                                    translate="resend_button_sms">
                                    If you did not receive an sms, please use the resend button below
                                </h5>
                            </div>
                        </div>
                        <div layout="row" flex="100" layout-align-gt-sm="space-between center" ng-if="!vm.mobileView">
                            <md-button class="md-secondary md-raised"
                                ng-click="vm.goToPreviousTab()">
                                <i class="fa fa-chevron-left"></i>&nbsp;<span translate="previous">Previous</span>
                            </md-button>
                            <md-button class="md-raised" ng-click="vm.resendValidation()" translate='registration.views.registrationsmsform.resend'>Resend...</md-button>                            
                            <md-button class="md-primary md-raised" ng-disabled="!vm.basicInfoValid() || !vm.phoneConfirmed"
                                ng-click="vm.goToNextTabIfValid()">
                                <span translate="next">Next</span>&nbsp;<i class="fa fa-chevron-right"></i>
                            </md-button>
                        </div>
                        <div layout="column" flex="100" layout-align-gt-sm="space-between center" ng-if="vm.mobileView">
                                <md-button class="md-raised" ng-click="vm.resendValidation()" translate='registration.views.registrationsmsform.resend'>Resend...</md-button>                            
                                <md-button class="md-secondary md-raised"
                                    ng-click="vm.goToPreviousTab()">
                                    <i class="fa fa-chevron-left"></i>&nbsp;<span translate="previous">Previous</span>
                                </md-button>
                                <md-button class="md-primary md-raised" ng-disabled="!vm.basicInfoValid() || !vm.phoneConfirmed"
                                    ng-click="vm.goToNextTabIfValid()">
                                    <span translate="next">Next</span>&nbsp;<i class="fa fa-chevron-right"></i>
                                </md-button>
                            </div>
                    </md-tab-body>
                </md-tab>
                <md-tab ng-disabled="!vm.basicInfoValid() || !vm.phoneConfirmed" md-on-select="vm.onTabSelected(2)">
                    <md-tab-body>
                        <div layout="column" layout-align="space-between center">
                            <div layout-align="space-around center">
                                <div layout="row" layout-align="space-around center">
                                    <div flex></div>
                                    <h4 class="all-caps text-align-center" translate="step_3_of_3">Step 3 of 3</h4>
                                    <div flex></div>
                                </div>
                                <h2 class="all-caps text-align-center bold no-margin" translate="email_validation">Email Validation</h2>
                            </div>
                            <div layout="column" layout-align="center center" ng-if="vm.emailConfirmed" style="margin-top: 50px; margin-bottom: 50px;"flex>
                                <div layout="row" layout-align="center center">
                                    <div flex></div>
                                    <i class="fa fa-thumbs-o-up fa-5x"></i>
                                    <div flex></div>
                                </div>
                                <h2 class="text-align-center all-caps" translate="great_success">SUCCESS</h2>
                            </div>
                            <div layout-algin="end center" ng-if="!vm.emailConfirmed" class="registration-explanation" id="email-validation-explanation">
                                <h5 class="text-align-center big-web-font" translate="registration_validate_email_instruction">
                                    Please validate your email address by clicking the link in the email we sent you.
                                </h5>
                                <h5 class="text-align-center all-caps no-margin-bottom big-web-font" translate="resend_button_email">
                                    If you did not receive an email, please use the resend button below.
                                </h5>
                            </div>
                        </div>
                        <div layout="column" layout-gt-sm="row" flex="100" layout-align-gt-sm="space-between center" ng-if="!vm.mobileView">
                            <md-button class="md-secondary md-raised"
                                ng-click="vm.goToPreviousTab()">
                                <i class="fa fa-chevron-left"></i>&nbsp;<span translate="previous">Previous</span>
                            </md-button>
                            <md-button class="md-raised" ng-click="vm.resendValidation()" translate='resend_email'>Resend email</md-button>
                            <md-button class="md-primary md-raised" ng-disabled="!vm.basicInfoValid() || !vm.phoneConfirmed || !vm.emailConfirmed"
                                type="submit">
                                <span translate="login_btn">Login</span>&nbsp;<i class="fa fa-chevron-right"></i>
                            </md-button>
                        </div>
                        <div layout="column" layout-gt-sm="row" flex="100" layout-align-gt-sm="space-between center" ng-if="vm.mobileView">
                            <md-button class="md-raised" ng-click="vm.resendValidation()" translate='resend_email'>Resend email<md-button>
                            <md-button class="md-secondary md-raised"
                                ng-click="vm.goToPreviousTab()">
                                <i class="fa fa-chevron-left"></i>&nbsp;<span translate="previous">Previous</span>
                            </md-button>
                            <md-button class="md-primary md-raised" ng-disabled="!vm.basicInfoValid() || !vm.phoneConfirmed || !vm.emailConfirmed"
                                type="submit">
                                <span translate="login_btn">Login</span>&nbsp;<i class="fa fa-chevron-right"></i>
                            </md-button>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </md-card-content>
    </md-card>
    <div flex></div>
</form>
