<div>
    <md-content>
        <div layout>
            <div flex="80">
                <h1>{{ vm.username }}</h1>
            </div>
            <div flex>
                <md-button class="md-raised md-primary" title="Invite member" ng-click="vm.goToProfile()">
                    <i class="fa fa-user"></i> Profile
                    <md-tooltip ng-cloak>Go to profile</md-tooltip>
                </md-button>
            </div>
        </div>
        <div layout flex>
        </div>
    </md-content>
</div>
