<div layout-fill>
    <md-content layout="column" layout-fill>
        <div layout>
            <div flex="80">
                <p>You</p>
                <h1>{{ vm.username }}</h1>
            </div>
            <div flex>
            </div>
        </div>
        <div flex layout="column">

            <md-card flex="100">
                <md-card-content flex="100" layout="column">
                    <md-tabs flex="100">
                        <md-tab>
                            <md-tab-label><i class="fa fa-bell"></i>&nbsp;Notifications</md-tab-label>
                            <md-tab-body layout="column">
                                <div layout>
                                    <div layout="column">
                                        <br/>
                                        <h3>{{ vm.notificationMessage }}</h3>
                                        <h3 ng-if="vm.notifications.invitations.length === 0">No unhandled notifications</h3>
                                    </div>
                                    <span flex></span>
                                </div>
                                <md-list>
                                    <md-list-item
                                        ng-repeat="invitation in vm.notifications.invitations | filter: {status: 'pending'}"
                                        class="noright">
                                            <p><i class="fa fa-users"></i> {{ invitation.organization }}</p>
                                            <md-checkbox class="md-secondary" ng-model="invitation.selected" aria-label="Select invitation">
                                            </md-checkbox>
                                    </md-list-item>
                                </md-list>
                                <div layout="row" layout-align="end center"
                                    ng-show="vm.getPendingCount(vm.notifications.invitations) > 0">
                                    <md-button
                                        ng-click="vm.accept()"
                                        ng-disabled="vm.checkSelected() === false">
                                        Accept
                                    </md-button>
                                    <md-button
                                        ng-click="vm.reject()"
                                        ng-disabled="vm.checkSelected() === false">
                                        Reject
                                    </md-button>
                                </div>
                            </md-tab-body>
                        </md-tab>
                        <md-tab>
                            <md-tab-label><i class="fa fa-users"></i></i>&nbsp;Organizations</md-tab-label>
                            <md-tab-body>
                                <div layout>
                                    <div flex flex-gt-xs="50">
                                        <md-list>
                                            <md-subheader>Owner</md-subheader>
                                            <md-list-item
                                                ng-repeat="organization in vm.owner" class="noright"
                                                ng-click="vm.goToOrganization(organization)">
                                                    <p> {{ organization }}</p>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                    <div flex flex-gt-xs="50">
                                        <md-list>
                                            <md-subheader>Member</md-subheader>
                                            <md-list-item
                                                ng-repeat="organization in vm.member" class="noright"
                                                ng-click="vm.goToOrganization(organization)">
                                                    <p> {{ organization }}</p>
                                            </md-list-item>
                                        </md-list>
                                    </div>
                                </div>
                            </md-tab-body>
                        </md-tab>

                        <md-tab>
                            <md-tab-label><i class="fa fa-ticket"></i>&nbsp;Authorizations</md-tab-label>
                            <md-tab-body>
                            </md-tab-body>
                        </md-tab>

                        <md-tab>
                            <md-tab-label><i class="fa fa-file-text-o"></i>&nbsp;Contracts</md-tab-label>
                            <md-tab-body>
                            </md-tab-body>
                        </md-tab>

                    </md-tabs>

                </md-card-content>
            </md-card flex>
        </div>
    </md-content>
</div>
