<form layout="row" name="form" ng-submit="vm.submit()">
    <div flex></div>
    <md-card class="form-card" flex="100" flex-gt-xs="80" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="30">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Forgot password</span>
                <span ng-if="vm.emailSend" class="md-subhead">A recovery email has been send.</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="column">
            <md-input-container ng-hide="vm.emailSend">
                <label>Username or email</label>
                <input ng-model="vm.login" ng-minlength="2" required name="login" type="text" autofocus
                       ng-change="vm.clearValidation()">
                <div ng-messages="form.login.$error" class="error">
                    <div ng-message="minlength">At least 2 characters are required</div>
                    <div ng-message="invalid">A user with this username or email address could not be found</div>
                </div>
            </md-input-container>
        </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="!form.$valid" ng-hide="vm.emailSend">
                Send recovery email
            </md-button>
            <md-button href="#/" class="md-raised md-primary" ng-show="vm.emailSend">
                <i class="fa fa-arrow-left"></i> Back to login
            </md-button>
        </md-card-actions>
    </md-card>
    <div flex></div>
</form>