<form layout="column" name="form" ng-submit="vm.submit()">
    <div flex layout="row">
        <div flex></div>
        <div layout="column" flex="100" flex-gt-sm="40">
            <h1>Forgot password</h1>
            <md-input-container ng-hide="vm.emailSend">
                <label>Username or email</label>
                <input ng-model="vm.login" ng-minlength="2" required name="login" type="text" autofocus
                       ng-change="vm.clearValidation()">
                <div ng-messages="form.login.$error" class="error">
                    <div ng-message="minlength">At least 2 characters are required</div>
                    <div ng-message="invalid">A user with this username or email address could not be found</div>
                </div>
            </md-input-container>
            <div layout="row" ng-hide="vm.emailSend">
                <span flex></span>
                <div layout="column">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="!form.$valid">
                        Send recovery email
                    </md-button>
                </div>
                <span flex></span>
            </div>
            <div ng-show="vm.emailSend">
                <p>A recovery email has been send.</p>
                <md-button href="#/" class="md-primary md-raised"><i class="fa fa-arrow-left"></i> Back to login
                </md-button>
            </div>
        </div>
        <div flex></div>
    </div>
</form>