<form ng-cloak layout="column" name="smsform" id="smsform" ng-submit="vm.submit()">
    <div flex layout="row">
        <div flex></div>
        <div layout="column" flex-gt-xs="50" flex-xs="100">
            <div>Click the link in the sms sent to your phone or enter the code from the sms here if you are unable to
            </div>
            <md-input-container>
                <label>Code sent by sms</label>
                <input ng-model="vm.smscode" md-maxlength="6" minlength="6" ng-required="!vm.smsconfirmation.confirmed"
                       name="smscode" autocomplete="off" ng-change="vm.resetValidation()">
                <div ng-messages="smsform.smscode.$error" md-auto-hide="false" class="error">
                    <div ng-message="invalid_code">Invalid code</div>
                </div>
            </md-input-container>
        </div>
        <div flex></div>
    </div>
    <div layout="row">
        <span flex></span>
        <div layout="column">
            <md-button type="submit" class="md-raised md-primary">Submit</md-button>
        </div>
        <span flex></span>
    </div>
</form>