<form layout="row" name="loginform" ng-submit="vm.submit()">
    <div flex></div>
    <md-card class="form-card" flex="100" flex-gt-xs="80" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="30">
        <md-card-title>
            <md-card-title-text ng-if="!vm.externalSite">
                <span class="md-headline">Login</span>
                <span ng-if="vm.externalSite" class="md-subhead">
                    You are about to login to <span ng-bind="vm.externalSite"></span>.
                </span>
                <span class="md-subhead">
                    You can login using your username, verified email address or verified phone number.
                </span>
                </span>
            </md-card-title-text>
            <md-card-title-text ng-if="vm.externalSite">
                <div layout="column">
                    <div>
                        <canvas id="login-logo" height="300px" width="500px" ng-show="vm.logo"></canvas>
                    </div>
                    <p class="loginprompt">Dear <span ng-bind="vm.externalSite"></span> customer,<br/>
                        We make use of the independant ItsYou.Online identity management system to highly<br/>
                        protect the access to your <span ng-bind="vm.externalSite"></span> products. Please login or create your ItsYou.Online<br/>
                        account to complete the <span ng-bind="vm.externalSite"></span> onboarding process.
                    </p>
                </div>
        </md-card-title>
        <md-card-content>
            <div layout="column">
                <md-input-container>
                    <label>Login</label>
                    <input ng-model="vm.login" ng-minlength="2" required name="login" type="text" autofocus>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="vm.password" required name="password" type="password"
                           ng-change="vm.clearValidation()">
                    <div ng-messages="loginform.password.$error">
                        <div ng-message="invalidcredentials">Invalid credentials</div>
                    </div>
                </md-input-container>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="space-between center">
            <md-button href="#/forgotpassword">Forgot your password?</md-button>
            <md-button type="submit" class="md-raised md-primary">Log in</md-button>
        </md-card-actions>
    </md-card>
    <div flex></div>
</form>
