<form layout="column" name="form" ng-submit="vm.submit()">
    <div flex layout="row">
        <div flex></div>
        <div layout="column" flex="100" flex-gt-sm="40">
            <h1>Forgot password</h1>
            <md-input-container>
                <label for="password">New password</label>
                <input ng-model="vm.password" ng-minlength="6" required name="password" type="password" autofocus
                       md-autofocus id="password">
                <div ng-messages="form.password.$error" class="error">
                    <div ng-message="minlength">At least 6 characters are required</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label for="passwordconfirmation">Confirm new password</label>
                <input ng-model="vm.passwordconfirmation" required name="passwordconfirmation"
                       type="password" autofocus ng-pattern="vm.password" id="passwordconfirmation">
                <div ng-messages="form.passwordconfirmation.$error" class="error">
                    <div ng-message="pattern">The passwords do not match</div>
                </div>
            </md-input-container>
            <div layout="row">
                <span flex></span>
                <div layout="column">
                    <md-button type="submit" class="md-raised md-primary" ng-disabled="!form.$valid">
                        Submit
                    </md-button>
                </div>
                <span flex></span>
            </div>
        </div>
        <div flex></div>
    </div>
</form>